<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JSP_LoginSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReceiveUser</display-name>
    <servlet-name>ReceiveUser</servlet-name>
    <servlet-class>pkg1.ReceiveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveUser</servlet-name>
    <url-pattern>/ReceiveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>pkg1.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportIndividual</display-name>
    <servlet-name>ExportIndividual</servlet-name>
    <servlet-class>pkg1.ExportIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportIndividual</servlet-name>
    <url-pattern>/ExportIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAll</display-name>
    <servlet-name>ExportAll</servlet-name>
    <servlet-class>pkg1.ExportAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAll</servlet-name>
    <url-pattern>/ExportAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>pkg1.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
</web-app>